{
  "md":
  {
    "ctp":
    {
      "FrontUri": "tcp://180.168.212.228:41213",
      "UserId": "YOUR_USER_ID",
      "BrokerId": "YOUR_BROKER_ID",
      "Password": "YOUR_PASSWORD"
    },
    "xtp":
    {
      "Ip": "120.27.164.138",
      "Port": 6016,
      "UserId": "YOUR_USER_ID",
      "Password": "YOUR_PASSWORD",
      "ClientId": 1
    },
    "binance":
    {
      "whiteLists":{
        "etc_eth": "ETCETH",
        "trx_btc": "TRXBTC"
      },
      "book_depth_count": 5,
      "trade_count": 10,
      "rest_get_interval_ms": 2000
    },
    "coinmex":
    {
      "book_depth_count": 5,
      "trade_count": 10,
      "whiteLists": {
                      "strategy_coinpair(base_quote)": "exchange_coinpair",
                      "btc_usdt": "BTC_USDT",
                      "etc_eth": "ETC_ETH",
                      "mvp_btc": "MVP_BTC"
                    },
      "rest_get_interval_ms": 500
    },
    "mock":
    {
      "book_depth_count": 5,
      "trade_count": 10,
      "whiteLists": {
                      "strategy_coinpair(base_quote)": "exchange_coinpair",
                      "btc_usdt": "BTC_USDT",
                      "etc_eth": "ETC_ETH",
                      "mvp_btc": "MVP_BTC"
                    },
      "rest_get_interval_ms": 500
    },
    "bitmax":
    {
      "book_depth_count": 5,
      "trade_count": 10,
      "whiteLists": {
        "strategy_coinpair(base_quote)": "exchange_coinpair",
        "eth_btc": "ETH/BTC",
        "bch_btc": "BCH/BTC",
        "ltc_btc": "LTC/BTC",
        "bch_eth": "BCH/ETH",
        "eth_btc": "ETH/BTC",
        "ltc_eth": "LTC/ETH"
      },
      "rest_get_interval_ms": 500
    },
    "bitfinex":
    {
      "book_depth_count": 5,
      "trade_count": 10,
      "whiteLists": {
        "strategy_coinpair(base_quote)": "exchange_coinpair",
        "eth_btc": "tETHBTC",
        "bch_btc": "tBCHBTC",
        "ltc_btc": "tLTCBTC",
        "bch_eth": "tBCHETH",
        "eth_btc": "tETHBTC",
        "ltc_eth": "tLTCETH"
      },
      "rest_get_interval_ms": 500
    }
  },
  "td":
  {
    "binance":
    {
      "accounts":
        [
          {
            "info":
            {
              "APIKey": "your-api-key",
              "SecretKey": "your-secret-key",
              "whiteLists":{
                "etc_eth": "ETCETH",
                "trx_btc": "TRXBTC"
              },
              "exchange_shift_ms": -2000,
              "order_insert_recvwindow_ms": 5000,
              "order_action_recvwindow_ms": 5000,
              "rest_get_interval_ms": 2000,
              "sync_time_interval": 10000
            },
            "clients": ["YOUR_STRATEGY1","YOUR_STRATEGY2","YOUR_STRATEGY3"],
            "is_default": true
          }
        ],
        "FeeSetup":
        {
          "stock":
          {
            "type": "amount",
            "fee_multi": 0.0003,
            "ctr_multi": 1,
            "min_fee": 0
          },
          "future":
          {
            "type": "amount",
            "fee_multi": [0.000023, 0.00069, 0.000023],
            "ctr_multi": 200,
            "min_fee": 0
          },
          "future_exotic": null
        }
    
    },
    "coinmex":
    {
      "accounts":
        [
          {
            "info":
            {
              "APIKey": "your-api-key",
              "SecretKey": "your-secret-key",
              "passphrase": "your-passphrase",
              "baseUrl": "https://www.coinmex.com",
              "whiteLists": {
                              "strategy_coinpair(base_quote)": "exchange_coinpair",
                              "btc_usdt": "BTC_USDT",
                              "etc_eth": "ETC_ETH",
                              "mvp_btc": "MVP_BTC"
                            },
              "exchange_shift_ms": 0,
              "rest_get_interval_ms": 2000,
              "sync_time_interval": 10000
            },
            "clients": ["YOUR_STRATEGY1","YOUR_STRATEGY2","YOUR_STRATEGY3"],
            "is_default": true
          }
        ],
        "FeeSetup":
        {
          "stock":
          {
            "type": "amount",
            "fee_multi": 0.0003,
            "ctr_multi": 1,
            "min_fee": 0
          },
          "future":
          {
            "type": "amount",
            "fee_multi": [0.000023, 0.00069, 0.000023],
            "ctr_multi": 200,
            "min_fee": 0
          },
          "future_exotic": null
        }

    },
    "mock":
    {
      "accounts":
        [
          {
            "info":
            {
              "APIKey": "your-api-key",
              "SecretKey": "your-secret-key",
              "passphrase": "your-passphrase",
              "baseUrl": "https://www.mock.com",
              "whiteLists": {
                              "strategy_coinpair(base_quote)": "exchange_coinpair",
                              "btc_usdt": "BTC_USDT",
                              "etc_eth": "ETC_ETH",
                              "mvp_btc": "MVP_BTC"
                            },
              "rest_get_interval_ms": 2000
            },
            "clients": ["YOUR_STRATEGY1","YOUR_STRATEGY2","YOUR_STRATEGY3"],
            "is_default": true
          }
        ],
        "FeeSetup":
        {
          "stock":
          {
            "type": "amount",
            "fee_multi": 0.0003,
            "ctr_multi": 1,
            "min_fee": 0
          },
          "future":
          {
            "type": "amount",
            "fee_multi": [0.000023, 0.00069, 0.000023],
            "ctr_multi": 200,
            "min_fee": 0
          },
          "future_exotic": null
        }
    },
    "bitmax":
        {
          "accounts":
        [
          {
            "info":
            {
              "APIKey": "your-api-key",
              "SecretKey": "your-secret-key",
              "passphrase": "your-passphrase",
              "baseUrl": "https://www.bitmax.io",
              "whiteLists": {
                "strategy_coinpair(base_quote)": "exchange_coinpair",
                "eth_btc": "ETH/BTC",
                "bch_btc": "BCH/BTC",
                "ltc_btc": "LTC/BTC",
                "bch_eth": "BCH/ETH",
                "eth_btc": "ETH/BTC",
                "ltc_eth": "LTC/ETH"
              },
              "rest_get_interval_ms": 2000
            },
            "clients": ["YOUR_STRATEGY1","YOUR_STRATEGY2","YOUR_STRATEGY3"],
            "is_default": true
          }
        ],
        "FeeSetup":
        {
          "stock":
          {
            "type": "amount",
            "fee_multi": 0.0003,
            "ctr_multi": 1,
            "min_fee": 0
          },
          "future":
          {
            "type": "amount",
            "fee_multi": [0.000023, 0.00069, 0.000023],
            "ctr_multi": 200,
            "min_fee": 0
          },
          "future_exotic": null
        }
    },
    "bitfinex":
        {
          "accounts":
        [
          {
            "info":
            {
              "APIKey": "your-api-key",
              "SecretKey": "your-secret-key",
              "passphrase": "your-passphrase",
              "baseUrl": "https://api.bitfinex.com",
              "whiteLists": {
                "strategy_coinpair(base_quote)": "exchange_coinpair",
                "eth_btc": "tETHBTC",
                "bch_btc": "tBCHBTC",
                "ltc_btc": "tLTCBTC",
                "bch_eth": "tBCHETH",
                "eth_btc": "tETHBTC",
                "ltc_eth": "tLTCETH"
              },
              "rest_get_interval_ms": 2000
            },
            "clients": ["YOUR_STRATEGY1","YOUR_STRATEGY2","YOUR_STRATEGY3"],
            "is_default": true
          }
        ],
        "FeeSetup":
        {
          "stock":
          {
            "type": "amount",
            "fee_multi": 0.0003,
            "ctr_multi": 1,
            "min_fee": 0
          },
          "future":
          {
            "type": "amount",
            "fee_multi": [0.000023, 0.00069, 0.000023],
            "ctr_multi": 200,
            "min_fee": 0
          },
          "future_exotic": null
        }
    },
    "ctp":
    {
      "FrontUri": "tcp://180.168.146.187:10000",
      "NeedAuth": false,
      "NeedSettleConfirm": true,
      "accounts":
      [
        {
          "info":
          {
            "UserId": "YOUR_USER_ID",
            "InvestorId": "YOUR_INVESTOR_ID",
            "BrokerId": "YOUR_BROKER_ID",
            "Password": "YOUR_PASSWORD"
          },
          "clients": ["YOUR_STRATEGY1","YOUR_STRATEGY2","YOUR_STRATEGY3"],
          "is_default": true
        }
      ],
      "FeeSetup":
      {
        "stock":
        {
          "type": "amount",
          "fee_multi": 0.0003,
          "ctr_multi": 1,
          "min_fee": 0
        },
        "future":
        {
          "type": "amount",
          "fee_multi": [0.000023, 0.00069, 0.000023],
          "ctr_multi": 200,
          "min_fee": 0
        },
        "future_exotic":
        {
          "rb":
          {
            "type": "amount",
            "fee_multi": 0.0001,
            "ctr_multi": 10,
            "min_fee": 0
          },
          "rb1801":
          {
            "type": "amount",
            "fee_multi": [0.0001, 0.0005, 0.0001],
            "ctr_multi": 10,
            "min_fee": 0
          },
          "c":
          {
            "type": "volume",
            "fee_multi": 1.2,
            "ctr_multi": 10,
            "min_fee": 0
          },
          "c1803":
          {
            "type": "volume",
            "fee_multi": 0.2,
            "ctr_multi": 10,
            "min_fee": 0
          },
          "ic":
          {
            "type": "amount",
            "fee_multi": [0.000023, 0.00069, 0.000023],
            "ctr_multi": 200,
            "min_fee": 0
          }
        }
      }
    },
    "xtp":
    {
        "Key": "YOUR_XTP_GATEWAY_KEY",
        "Ip": "120.27.164.69",
        "Port": 6001,
        "ClientId": 1,
        "accounts":
        [
          {
            "info":
            {
              "UserId": "YOUR_USER_ID",
              "Password": "YOUR_PASSWORD"
            },
            "clients": ["YOUR_STRATEGY1","YOUR_STRATEGY2","YOUR_STRATEGY3"],
            "is_default": true
          }
        ],
        "FeeSetup":
        {
          "stock":
          {
            "type": "amount",
            "fee_multi": 0.0003,
            "ctr_multi": 1,
            "min_fee": 0
          },
          "future":
          {
            "type": "amount",
            "fee_multi": [0.000023, 0.00069, 0.000023],
            "ctr_multi": 200,
            "min_fee": 0
          },
          "future_exotic": null
        }
    }
  }
}
